<!-- *********************  Title with edit and delete buttons  ********************* -->
<div class="section-title">
  <h1><%=@shelf.user.firstname%>'s <%=@shelf.name%> Books</h1>
  
  <!-- Render shelf edit and delete buttons if current user -->
  <%= render 'books/edit_and_delete_buttons', {edit: edit_shelf_path(@shelf), delete: shelf_path(@shelf)} if @shelf.user == current_user%>
</div>

<!-- ********************* Books on Shelf ********************* -->
<%= render 'books/grid', {books: @shelf.books, search: false} %>

