<div class="large-logo-title">
  <div class="large-logo clearfix">
    <%= image_tag('bookshelf-logo-color.png')%>
  </div>  <!--  .large-logo  -->
  <div class="clearfix">
    <h1 class="large-title" ><%=title%></h1>
  </div> <!--  .large-title  -->
</div> <!--  .large-logo-title  -->