<div class="large-logo-title">
  <!--  Logo  -->
  <div class="large-logo clearfix">
    <%= image_tag('bookshelf-logo-color.png')%>
  </div> 

  <!--  Title  --> 
  <div class="clearfix">
    <h1 class="large-title" ><%=title%></h1>
  </div>
  
</div> <!--  .large-logo-title  -->