  <!-- *********************  Error Messages  ********************* -->
  <%if !!flash[:alert]%>
    <div class="error-text wrapper centered clearfix">
      <%=flash[:alert]%>
    </div> <!-- flash -->
  <%end%>
  
  <!-- *********************  User's book grid  ********************* -->
  <h1>My Books</h1>
  <%=link_to 'Create a New Shelf', new_shelf_path, class: 'button'%>
  <%= render 'books/book_grid', {books: @user.books} %>
