<div class="grid-item" >
  <%= link_to image_tag(book.cover_image), book_path(book) %>
  <p class='title-label'><%= link_to book.title, book_path(book) %></p>
  <p class='author-label'><%= book.author.name %></p>
  <div class='button-grid'> <%= add_or_remove_button(book) %> </div>
</div> <!-- grid-item -->