<!-- Display a collection of books in a grid --> 
<div class="grid">
  <!-- ******** Book Grid  ******** -->
  <% books.each do |book| %>
    <!-- ******** Book Grid Item ******** -->
    <div class="grid-item" >
      <!-- Image -->
      <%= link_to image_tag(book.cover_image), (search ? book_search_path(book.identifier) : book_path(book)) %>
      
      <!-- Read Label if Read -->
      <% if !search && current_user_finished_book(book) %>
        <div class='book-read'>Read</div>
      <% end %>

      <!-- Title, Author -->
      <p class='title-label'><%= link_to book.title,  (search ? book_search_path(book.identifier) : book_path(book)) %></p>
      <p class='author-label'><%= book.author.name %></p>
      
      <!-- Button to add or remove book from collection -->
      <div class='button-grid'> <%= add_or_remove_button(book) %> </div>
    </div> <!-- grid-item -->
  <% end %>
</div> <!-- grid -->
