<div class='sub-section'>
  <h1>All Books</h1>

<!-- *********************  Select Book Filter / Order  ********************* -->
  <%= form_tag('/books', method: 'get') do %>
    <div class='buttons'>
      <%= select_tag "filter", 
        "<option #{'selected = "selected"' if @filter == 'order_by_title'} value=order_by_title>Order by Title</option>
         <option #{'selected = "selected"' if @filter == 'order_by_author'} value=order_by_author>Order by Author</option>
         <option #{'selected = "selected"' if @filter == 'top_rated'} value=top_rated>Top Rated</option>".html_safe,
        class: "button" %>
      <%= submit_tag "Apply", class: "button-select" %>
    </div>
  <% end %>
</div>

<!-- *********************  Book Grid ********************* -->
<%= render 'grid', {books: @books, search: false} %>